$colors: (
    // content
        mirage64: rgba(27, 37, 49, 0.64),
);

@function color($name) {
    @return map_get($colors, $name);
}

$tab: 450px;

@mixin tab {
    @media (min-width: #{$tab}) {
        @content;
    }
}

$desktop: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

$monitor: 1024px;

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

$hd: 1330px;

@mixin hd {
    @media (min-width: #{$hd}) {
        @content;
    }
}

$navBarHeight: 3.5em;
$webkitRadius : 10em;
$borderRadius: 10em;

%modals {
    background-color: white;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include desktop {
        top: 35%;
    }
    @include monitor {
        top: 50%;
    }
}
%header {
    font-weight: bold;
    margin: 1vw 0 2vw;
    @include desktop {
        margin: 1vw 0;
        font-size: 1.5rem;
    }
    font-size: 1.25rem;
}

%p {
    background-color: #FAFAFA;
}

%headers {
    @extend %p;
    border-radius: 5px 5px 0 0;
}

%footers {
    @extend %p;
    border-radius: 0 0 5px 5px;
}
%close {
    right: 10px;
    top: 5px;
    position: absolute;
    cursor: pointer;
}

.sign-up-modal {
    .btn-link {
        -webkit-border-radius: $webkitRadius;
        border-radius: $borderRadius;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.25vw;
        display: inline-block;
        border-color: color(white);
        border-style: solid;
        text-align: center;
        background-color: color(curiosBlue);
        color: color(white);
        box-shadow: none;
        &:hover {
            transform: none;
        }
    }

    .client-btn, .tutor-btn {
        padding: .7rem 1.2rem;
        margin: 3vw 4vw 1.25vw;
        @include desktop {
            margin: .5vw 2vw 1.25vw;
        }
        border-width: 1px;
        font-size: .9em;
    }

    .tutor-btn {
        margin: 3vw 4vw 1.25vw;
        @include desktop {
            margin: .5vw 2vw 1.25vw;
        }
    }

    @extend %modals;
    width: 90%;
    border-radius: 5px;
    max-height: calc(100% - 100px);

    @include tab {
        width: 70%;
    }
    @include desktop {
        width: 50%;
    }
    @include monitor {
        width: 40%;
    }
    @include hd {
        width: 30%;
    }

    .header {
        @extend %headers;
        padding: 2vh;
    }
    .footer {
        @extend %footers;
        padding: 2vh;
    }

    .close-icon {
        @extend %close;
    }

    #sign-up-text {
        @extend %header;
    }

    .user-title {
        font-size: .9em;
        margin: 2vw 0 3vw 3vh;
        text-transform: capitalize;
        font-weight: 600;
        text-align: left;
        color: rgba(27, 37, 49, 0.74);
        @include desktop {
            font-size: 1.0125em;
            margin: 0 0 2vw 7vw;
        }
        @include monitor {
            margin-left: 5vw;
            margin-bottom: 1.5vw;
        }
    }

    .content {
        padding: 2vh 1vh 4vh;
        @include desktop {
            padding: 2vh 0;
        }
        @include monitor {
            padding: 4vh 0;
        }
        &:nth-child(1) {
            border-bottom: 1px solid #eeeeee;
        }
    }

    .btn-link, button {
        border-color: #0071A5;
        color: #0071A5;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 1rem !important;
        &:hover {
            text-decoration: none;
            color: #ffffff;
            background-color: #0071A5;
            transition: all .5s ease-in-out;
        }
    }

    button {
        transition: none !important;
        transform: none !important;
    }

    %group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #client-btns, #tutor-btns {
        @extend %group;
        @include desktop {
            margin-left: 4vw;
        }
        @include monitor {
            margin-left: 3vw;
        }
    }
}

.info {
    font-weight: 300;
    font-size: .8em;
    text-align: center;
}
